[Unit]
Description=TeleIRC: Telegram + IRC bridge bot (for: {{ item.value.cn }})
Requires=network.target
After=multi-user.target

[Service]
Type=simple
User=teleirc
ExecStart=/usr/local/bin/teleirc -conf /etc/teleirc/env-{{ item.value.cn }}
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
